.sidebar {
    width: 15%;
    background-color: black; 
    color: white; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: 100vh; 
}

.headshot {
    border-radius: 50%;
}

h3 {
    margin-top: 1.4rem;
}

.headshot {
    margin-top: 1rem;
}

.social-icons {
    margin-top: 1.4rem;
}

.social-icons a {
    font-size: 2rem;
    gap: 1rem;
    color: #6EACDA;
    margin-left: 1rem;

}

.social-icons a:hover {
    color: #E2E2B6;
    transition: 0.7s;
}

.nav-links {
    margin-top: 30px;
}

.nav-links ul {
    list-style: none;
}

.nav-links li {
    margin-top: 1.3 rem;
}

.nav-links li a {
    text-decoration: none;
    font-size: 2rem;
    color: azure;
}