.skills {
    padding: 50px 0;
    text-align: center;
}

.skills h2 {
    font-size: 3rem;
    margin-bottom: 40px;
    color: #E2E2B6;
}

.skills-grid {
    display: flex;
    justify-content: center;
    gap: 30px; /* Space between skill cards */
    flex-wrap: wrap;
}

.skill-card {
    width: 250px;
    padding: 20px;
    border-radius: 8px;
    background-color: azure;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.skill-card:hover {
    transform: translateY(-10px); /* Small lift on hover */
}

.skill-icon {
    font-size: 3rem;
    color: #61dafb; /* Set a color or you can use different ones per skill */
    margin-bottom: 10px;
}

.skill-card h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.skill-card p {
    font-size: 1rem;
    color: #666;
}
